header {
    display: flex;
    height: 10vh;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
button {
    height: 2rem;
    width: 20%;
}
#container {
    height: 90vh;
}
#spacer {
    width: 7%;
}